<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <title>Stream Widgets</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='/img/favicon.svg') }}">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
  </head>

  <body>
    <ul>
      <li><a href="chat">Chat da Twitch</a></li>
      <li><a href="followme">Siga Me</a></li>
      <li><a href="follow">Novos Seguidores</a></li>
      <li><a href="todo">Objetivos de Hoje</a></li>
    </ul>
  </body>
</html>
